.banner {
    background-color: black;
    height: 10vh;
}

* {
    box-sizing: border-box;
}

.banner img {
    width: 100%; /* Make image responsive */
    height: auto; /* Make image maintain aspect ratio */
    /* Center the image */
    display: block;
    margin: 0 auto;
}