body {
    background-color: black;
}

.banner {
    margin-top: 1vh;
    background-color: black;
    height: 20vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner img {
    height: 90%; /* Make image maintain aspect ratio */
    width: auto;
    /* Center the image */
}

.background {
    display: flex;
    justify-content: center;
}

.background #bg_img {
    height: 78vh;
    z-index: 1;
}

.background #coin {
    z-index: 2;
}